.hidden {
    display: none;
}

.main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.chat {
    flex: 2;
    border: 1px solid #ccc;
    overflow-y: scroll;
    height: 300px;
    padding: 10px;
    margin-right: 10px;
}

.left {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.right {
    color: blue;
    text-align: right;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.youOnline{
    color: blue;
}

.online {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}

.onlineUsers {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
}

.messageWindow {
    width: 100%;
    box-sizing: border-box;
}

.messageInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
